<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>EaseBase2.0数据库运维平台2</title>
    <link rel="stylesheet" href="../static/css/element.css">
    <link rel="stylesheet" href="../static/css/icons.css">
    <link rel="stylesheet" href="../static/css/addUser.css">
    <style>
        .el-header, .el-footer {
            color: #333;
            text-align: center;
            height: 50px;
        }
        .el-aside {
            color: #333333;
            text-align: left;
            height: 100%;
        }
        .el-main {
            color: #333;
            text-align: left;
            height: 800px;
        }
        .menuSize {
            font-size:25px;
        }
        body {
            margin:0px;
        }
        .el-transfer-panel{
            width: 300px;
            height: 400px;
            font-size:5px;
        }
        .el-transfer-panel__list.is-filterable{
            height: 400px;
        }
        .el-table .cell.el-tooltip {
               white-space: pre-wrap;
         }
    </style>
</head>
<body>
<div id="app">
    <el-container style="height:100%; border: 0px solid #eee">
        <el-aside width="220px" >
             <el-menu router :default-active="$route.path"
                      class="el-menu-vertical-demo"
                      @open="handleOpen"
                      @close="handleClose" theme="dark">
                 <el-submenu index="1">
                  <template slot="title">
                   <i class="el-icon-location"></i>
                   <span>用户信息</span>
                  </template>
                  <el-menu-item-group>
                   <el-menu-item index="/user/account">账号信息</el-menu-item>
                   <el-menu-item index="/user/password">修改密码</el-menu-item>
                 </el-submenu>
                 <el-submenu index="2">
                   <template slot="title">
                   <i class="el-icon-location"></i>
                   <span>公司信息</span>
                  </template>
                  <el-menu-item-group>
                   <el-menu-item index="/company/userManager">用户管理</el-menu-item>
                   <el-menu-item index="/company/editUser">添加/编辑用户</el-menu-item>
                  </el-menu-item-group>
                  </el-submenu>
                </el-menu>
        </el-aside>

        <el-container>
            <el-header>
                <br><span>欢迎使用欢迎使用EaseBase2.0 数据库运维平台</span>
            </el-header>

            <el-main>
                <router-view></router-view>
            </el-main>

            <el-footer>
                <span> 开发者：合生通DBA运维团队</span>
            </el-footer>

        </el-container>

    </el-container>
</div>
</body>

<script  src="../static/js/vue.js"></script>
<script  src="../static/js/vue-router.js"></script>

<script  src="../static/js/element.js"></script>
<script  src="../static/js/axios.js"></script>
<script  src="../static/js/utils.js"></script>
<script  src="../static/js/config.js"></script>
<!-- user -->
<script  src="../static/js/addUser.js"></script>
<script  src="../static/js/queryUser.js"></script>
<script  src="../static/js/changeUser.js"></script>
<!-- menu -->
<script  src="../static/js/queryMenu.js"></script>
<script  src="../static/js/addMenu.js"></script>
<script  src="../static/js/changeMenu.js"></script>
<!-- role -->
<script  src="../static/js/addRole.js"></script>
<script  src="../static/js/queryRole.js"></script>
<script  src="../static/js/changeRole.js"></script>


<script>
    new Vue({
        el: '#app',
        data: {
            isCollapse: false,
            activeName: '',
            editableTabsValue: '',
            editableTabs: [],
            tabIndex: 0,
            nav  :[],
        },
        components: {
            // user menu
            user_add: user_add,
            user_query:user_query,
            user_change:user_change,
            // qx menu
            menu_query:menu_query,
            menu_add:menu_add,
            menu_change:menu_change,
            // role enu
            role_add:role_add,
            role_query:role_query,
            role_change:role_change
        },
        created: function() {
            this.loadTree()
        },
        methods: {
            loadTree() {
                axios.post('http://{0}:{1}/tree'.format(server_ip,server_port)
                ).then((res) => {
                    this.nav = res.data['Data']
                }).catch((error) => {
                    console.log('error=',error);
                });
            },
            handleOpen(key, keyPath) {
                console.log("handleOpen=",key, keyPath,'x');
            },
            handleClose(key, keyPath) {
                console.log("handleClose=",key, keyPath,'y');
            },
            handleSelect(key, keyPath) {
                this.addTab(key);
                this.activeName = key.split('^')[1]
            },
            addTab(key) {
                let title = key.split('^')[0]
                let name  = key.split('^')[1]

                // this.editableTabs.push({
                //     title: title,
                //     name: name,
                // });
                //
                // this.editableTabsValue = name
                // this.activeName = name

                let flag = false;
                for (let i=0;i<this.editableTabs.length;i++){
                    if (this.editableTabs[i]['name'] == name ){
                        flag=true;
                    }
                }

                if (flag == false ) {
                    this.editableTabs.push({
                        title: title,
                        name: name,
                    });
                    this.editableTabsValue = name
                } else {
                    this.editableTabsValue = name
                }
            },
            removeTab(targetName) {
                let tabs = this.editableTabs;
                let activeName = this.editableTabsValue;
                if (activeName === targetName) {
                    tabs.forEach((tab, index) => {
                        if (tab.name === targetName) {
                            let nextTab = tabs[index + 1] || tabs[index - 1];
                            if (nextTab) {
                                activeName = nextTab.name;
                            }
                        }
                    });
                }
                this.editableTabsValue = activeName;
                this.editableTabs = tabs.filter(tab => tab.name !== targetName);
            },
            handleClick(tab, event) {
               // this.activeName=tab.name;
            }
        }
    })
</script>
</html>